<html>
  <head></head>
  <body>
    <h2>Gallery</h2>
    <ul>
      {% for item in items %}
            <a href="photos/{{ item }}" target="blank"><img src="{{ item }}" width=300 height=200></a>
      {% endfor %}
    </ul>
  </body>
</html>

