body {
    text-align: center;
    margin: 16px 60px;
}

.goods {
    width: 600px;
    height: 400px;
    border: 1px solid black;
    position: relative;
    float: left;
    margin-left: 12px;
    margin-top: 10px;
}
.g_pos {
    position: absolute;
    color: black;
    text-decoration: none;
}
.g_name {
    font-size: 20px;
    left: 120px;
    top: 16px;
}
.g_desc {
    top: 30px;
    width: 182px;
    right: 24px;
    text-align: left;
    font-family: sans-serif;
}
.g_count {
    font-family: cursive;
    right: 22px;
    top: 299px;
}
.g_buy {
    width: 100px;
    right: 24px;
    top: 336px;
}
.photo {
    left: 29px;
    top: 50px;
}
.el_1 {
    position: absolute;
    left: 374px;
    top: -14px;
    font-size: 24px;
}
.el_2 {
    position: absolute;
    left: 235px;
    top: 40px;
}
.el_3 {
    position: absolute;
    width: 483px;
    left: 790px;
    top: 24px;
    font-size: 18px;
    text-align: left;

}
.el_4 {
    position: absolute;
    left: 10px;
    font-size: 20px;
}
.el_5 {
    position: absolute;
    left: 534px;
    top: 382px;
    font-size: 20px;
}
.el_6 {
    position: absolute;
    left: 611px;
    top: 403px;
    width: 125px;
}