h1 {
    position: absolute;
    left: 600px;
}
h2 {
    font-size: 29px;
    text-align: center;
}
.logo {
    margin-left: 50px;
}
.cart {
    margin-left: 929px;
}
.big {
    width: 980px;
    height: 600px;
    margin-left: 310px;
}
.bigCart {
    width: 1280px;
    height: 600px;
    margin-left: 36px;
}
.bigUsers {
    width: 1280px;
    height: 600px;
    margin-left: 36px;
}
.goods {
    border:1px solid black;
    width: 290px;
    height: 300px;
    float: left;
    margin: 10px;
}
.nameGoods {
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
}
.priceGoods {
    font-size: 17px;
    margin-left: 210px;
    font-weight: 700;
}

.el_1 {
    position: absolute;
    left: 374px;
    top: -14px;
    font-size: 24px;
}
.el_2 {
    position: absolute;
    left: 235px;
    top: 40px;
}
.el_3 {
    position: absolute;
    width: 483px;
    left: 790px;
    top: 24px;
    font-size: 18px;
    text-align: left;

}
.el_4 {
    position: absolute;
    left: 10px;
    font-size: 20px;
}
.el_5 {
    position: absolute;
    left: 534px;
    top: 382px;
    font-size: 20px;
}
.el_6 {
    position: absolute;
    left: 611px;
    top: 403px;
    width: 125px;
}
.formGoods2 {
    margin-top: 50px;
}
.blockForm {
    position: absolute;
    width: 300px;
    top: 90px;
    left: 120px;
}
.inputGoods {
    margin-top: 10px;
}
.cartButton {
    width: 100px;
    height: 23px;
    margin-top: 12px;
    margin-left: 7px;
}
.priceCart {
    font-size: 17px;
    margin-left: 210px;
    font-weight: 700;
    margin-top: -15px;
}
.priceCart1 {
    font-size: 17px;
    margin-left: 201px;
    font-weight: 700;
    margin-top: -15px;

}
.adminButton {
    position: absolute;
    left: 1174px;
    top: 50px;
    width: 69px;
    height: 30px;
}
.adminButton1 {
    width: 199px;
    position: absolute;
    left: 86px;
    top: 90px;
    height: 45px;

}
/*.vis {*/
    /*visibility: hidden;*/
/*}*/
/*.vis:hover {*/
    /*visibility: visible;*/
/*}*/
.adminButton1:hover + .vis {
    visibility: visible;
}
.vis {
    background: aliceblue;
    width: 297px;
    height: 500px;
    position: absolute;
    border-bottom: 1px solid black;
    top: 135px;
    left: 39px;
}
.adminButton2 {
    width: 199px;
    position: absolute;
    left: 86px;
    top: 368px;
    height: 45px;
}
.tbut {
    font-size: 20px;
    margin-top: 7px;
}
.formBuy {
    margin: 11px 4px -22px 17px;
}
.formButton {
    width: 88px;
    height: 25px;
}
